<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="apiSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="identitySettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="imageSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="cacheSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <apiSettings>
    <add key="APIKey" value=""></add>
    <add key="BaseAddress" value="https://localhost:5001/"></add>
    <add key="GroupChatHubAddress" value="https://localhost:5001/hubs/groupchat"></add>
  </apiSettings>
  <cacheSettins>
    <add key="BaseCachePath" value="/cache/"></add>
  </cacheSettins>
  <identitySettings>
    <add key="LockoutLength" value="00:05:00"></add>
    <add key="MaxLoginAttempts" value="5"></add>
    <add key="PasswordMinLength" value="8"></add>
    <add key="PasswordMinUnique" value="1"></add>
    <add key="PasswordRequireDigit" value="false"></add>
    <add key="PasswordRequireLowercase" value="false"></add>
    <add key="PasswordRequireUppercase" value="false"></add>
    <add key="PasswordRequireNonAlphanumeric" value="false"></add>
  </identitySettings>
  <imageSettings>
    <add key="MinWidth" value="200"></add>
    <add key="MaxWidth" value="1000"></add>
    <add key="MinHeight" value="200"></add>
    <add key="MaxHeight" value="1000"></add>
    <add key="MaxSizeInMb" value="1.5"></add>
  </imageSettings>
</configuration>