<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="apiSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="identitySettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <apiSettings>
    <add key="APIKey" value=""></add>
    <add key="BaseAddress" value="https://localhost:5001/"></add>
  </apiSettings>
  <identitySettings>
    <add key="LockoutLength" value="00:05:00"></add>
    <add key="MaxLoginAttempts" value="5"></add>
    <add key="PasswordMinLength" value="8"></add>
    <add key="PasswordMinUnique" value="1"></add>
    <add key="PasswordRequireDigit" value="false"></add>
    <add key="PasswordRequireLowercase" value="false"></add>
    <add key="PasswordRequireUppercase" value="false"></add>
    <add key="PasswordRequireNonAlphanumeric" value="false"></add>
  </identitySettings>
</configuration>