<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true"
			throwConfigExceptions="true"
			internalLogLevel="info">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="grooverApiLoggingFile" fileName="C:\Users\djord\Documents\Groover\logs\grooverAPI_${shortdate}.log" 
						layout="[${level:uppercase=true}] |${longdate}| |${event-properties:item=EventId_Id:whenEmpty=0}| |${logger}| ${message} ${exception:format=tostring}"/>

		<target xsi:type="ColoredConsole" name="grooverApiColoredConsole" 
						useDefaultRowHighlightingRules="false"
						layout="[${level:uppercase=true}] ${longdate} ${logger} - TID: ${threadid} ${newline}    ${message} ${exception:format=tostring}" >
			<!--layout="[${level:uppercase=true}] ${logger}[0]${newline}    ${message}${exception:format=tostring}" >-->
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="grooverApiLoggingFile" />
		<logger name="*" minlevel="Info" writeTo="grooverApiColoredConsole" final="true" />
	</rules>
</nlog>